* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Bai Jamjuree", sans-serif;
}
body {
  background-image: url(./../Images/bck-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(30, 30, 30, 0.1);
  backdrop-filter: blur(10px);
  margin-top: 0;
}

.logo-div {
  width: 6.5rem;
  height: 6.5rem;
  background-image: url(./../Images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.redirect-links-container {
  display: flex;
  flex-direction: column;
  width: 10%;
}

a {
  font-size: 1.5rem;
  color: rgb(234, 222, 222); /* Text color of the link */
  text-decoration: none; /* Remove underline */
}

a:hover {
  color: darkblue; /* Color change when the link is hovered */
  text-decoration: underline; /* Add underline on hover */
}
.greeting-logout-redirect-container {
  display: flex;
  justify-content: space-between;
}

.redirect-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 30%;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: rgb(234, 222, 222);
  padding: 1rem;
  width: 30%;
}

.logout-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.logout-btn {
  width: 9rem;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 1rem 1.5rem; /* Increased padding for a better button size */
  cursor: pointer;
  border-radius: 5px; /* Added border radius for smooth corners */
  font-size: 1.4rem;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #ff1a1a;
}

.form-container {
  padding: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.add-new-flat-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-new-flat-div h2 {
  color: whitesmoke;
}

form {
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between label and input */
  width: 100%; /* Make form-group take full width */
}

form h2,
label {
  color: whitesmoke;
}

form h2 {
  border-bottom: 1px gray solid;
}

form label {
  font-size: 1.4rem;
  margin-right: 1rem;
  width: 10rem;
  text-align: right; /* Right-align label for better input alignment */
}

form input,
form select {
  flex: 1;
  border-radius: 5px;
  padding: 4px;
  box-sizing: border-box;
  width: 100%; /* Ensures both inputs and selects are the same width */
}

#submitBtn {
  width: 100%; /* Full width for the button */
  background-color: #6e88e8;
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.4rem;
  transition: background-color 0.3s ease;
}

#submitBtn:hover {
  background-color: #3d56b2;
}